.example {
  color: rgba(122, 182, 152, 0.4);
  background-color: #230421; }

.green.color {
  color: rgba(78, 129, 104, 0.25); }

.green.background-color {
  background-color: rgba(78, 129, 104, 0.25); }

.green.text-decoration-color {
  text-decoration-color: rgba(78, 129, 104, 0.25); }

.green.text-emphasis-color {
  text-emphasis-color: rgba(78, 129, 104, 0.25); }

.green.caret-color {
  caret-color: rgba(78, 129, 104, 0.25); }

.green.column-rule-color {
  column-rule-color: rgba(78, 129, 104, 0.25); }

.green.border-color {
  border-color: rgba(78, 129, 104, 0.25); }

.green.border-top-color {
  border-top-color: rgba(78, 129, 104, 0.25); }

.green.border-bottom-color {
  border-bottom-color: rgba(78, 129, 104, 0.25); }

.green.border-left-color {
  border-left-color: rgba(78, 129, 104, 0.25); }

.green.border-right-color {
  border-right-color: rgba(78, 129, 104, 0.25); }

.green.border-block-start-color {
  border-block-start-color: rgba(78, 129, 104, 0.25); }

.green.border-block-end-color {
  border-block-end-color: rgba(78, 129, 104, 0.25); }

.green.border-inline-start-color {
  border-inline-start-color: rgba(78, 129, 104, 0.25); }

.green.border-inline-end-color {
  border-inline-end-color: rgba(78, 129, 104, 0.25); }

.green.outline-color {
  outline-color: rgba(78, 129, 104, 0.25); }

.bluish-green.color {
  color: rgba(80, 128, 118, 0.25); }

.bluish-green.background-color {
  background-color: rgba(80, 128, 118, 0.25); }

.bluish-green.text-decoration-color {
  text-decoration-color: rgba(80, 128, 118, 0.25); }

.bluish-green.text-emphasis-color {
  text-emphasis-color: rgba(80, 128, 118, 0.25); }

.bluish-green.caret-color {
  caret-color: rgba(80, 128, 118, 0.25); }

.bluish-green.column-rule-color {
  column-rule-color: rgba(80, 128, 118, 0.25); }

.bluish-green.border-color {
  border-color: rgba(80, 128, 118, 0.25); }

.bluish-green.border-top-color {
  border-top-color: rgba(80, 128, 118, 0.25); }

.bluish-green.border-bottom-color {
  border-bottom-color: rgba(80, 128, 118, 0.25); }

.bluish-green.border-left-color {
  border-left-color: rgba(80, 128, 118, 0.25); }

.bluish-green.border-right-color {
  border-right-color: rgba(80, 128, 118, 0.25); }

.bluish-green.border-block-start-color {
  border-block-start-color: rgba(80, 128, 118, 0.25); }

.bluish-green.border-block-end-color {
  border-block-end-color: rgba(80, 128, 118, 0.25); }

.bluish-green.border-inline-start-color {
  border-inline-start-color: rgba(80, 128, 118, 0.25); }

.bluish-green.border-inline-end-color {
  border-inline-end-color: rgba(80, 128, 118, 0.25); }

.bluish-green.outline-color {
  outline-color: rgba(80, 128, 118, 0.25); }

.vivid-bluish-green.color {
  color: rgba(46, 132, 118, 0.25); }

.vivid-bluish-green.background-color {
  background-color: rgba(46, 132, 118, 0.25); }

.vivid-bluish-green.text-decoration-color {
  text-decoration-color: rgba(46, 132, 118, 0.25); }

.vivid-bluish-green.text-emphasis-color {
  text-emphasis-color: rgba(46, 132, 118, 0.25); }

.vivid-bluish-green.caret-color {
  caret-color: rgba(46, 132, 118, 0.25); }

.vivid-bluish-green.column-rule-color {
  column-rule-color: rgba(46, 132, 118, 0.25); }

.vivid-bluish-green.border-color {
  border-color: rgba(46, 132, 118, 0.25); }

.vivid-bluish-green.border-top-color {
  border-top-color: rgba(46, 132, 118, 0.25); }

.vivid-bluish-green.border-bottom-color {
  border-bottom-color: rgba(46, 132, 118, 0.25); }

.vivid-bluish-green.border-left-color {
  border-left-color: rgba(46, 132, 118, 0.25); }

.vivid-bluish-green.border-right-color {
  border-right-color: rgba(46, 132, 118, 0.25); }

.vivid-bluish-green.border-block-start-color {
  border-block-start-color: rgba(46, 132, 118, 0.25); }

.vivid-bluish-green.border-block-end-color {
  border-block-end-color: rgba(46, 132, 118, 0.25); }

.vivid-bluish-green.border-inline-start-color {
  border-inline-start-color: rgba(46, 132, 118, 0.25); }

.vivid-bluish-green.border-inline-end-color {
  border-inline-end-color: rgba(46, 132, 118, 0.25); }

.vivid-bluish-green.outline-color {
  outline-color: rgba(46, 132, 118, 0.25); }
